<div class='u-text__align--center' >
  <h2> 本当に退会しますか？</h2>
  退会すると、会員登録情報や<br />
  これまでの購入履歴が閲覧できなくなります。<br />
  退会する場合は、「退会する」をクリックしてください。<br />
  <br />
  <%= link_to '退会しない', public_mypage_path, class: 'c-button c-button--secondary'  %>
  <%= link_to '退会する', public_mypage_path, method: :delete, data: { confirm: '本当に退会しますか？' }, class: 'c-button c-button--negative' %>
</div>
