<h2 class='p-title'>登録情報編集</h2>

<%= form_with model: @end_user, url: public_mypage_path, local: true do |f| %>

  <%#= render 'public/shared/error_messages', resource: @end_user %>

  <div class='p-formGroup'>
    <div class='p-formGroup__label'>
      <%= f.label :name %>
    </div>
    <%#= f.label :last_name, class: 'p-formGroup__subLabel' %>
    <div class='p-formGroup__input'>
      <%= f.text_field :last_name, class: 'c-textField' %>
    </div>
    <%#= f.label :first_name, class: 'p-formGroup__subLabel' %>
    <div class='p-formGroup__input'>
      <%= f.text_field :first_name, class: 'c-textField' %>
    </div>
  </div>

  <div class='p-formGroup'>
    <div class='p-formGroup__label'>
      <%= f.label :name_kana%>
    </div>
    <%#= f.label :last_name_kana, class: 'p-formGroup__subLabel' %>
    <div class='p-formGroup__input'>
      <%= f.text_field :last_name_kana, class: 'c-textField'  %>
    </div>
    <%#= f.label :first_name_kana, class: 'p-formGroup__subLabel' %>
    <div class='p-formGroup__input'>
      <%= f.text_field :first_name_kana, class: 'c-textField' %>
    </div>
  </div>

  <div class='p-formGroup'>
    <div class='p-formGroup__label'>
      <%= f.label :email %>
    </div>
    <div class='p-formGroup__input'>
      <%= f.email_field :email, class: 'c-textField', autocomplete: 'email' %>
    </div>
  </div>

  <div class='p-formGroup'>
    <div class='p-formGroup__label'>
      <%= f.label :postcode %>
    </div>
    <div class='p-formGroup__input'>
      <%= f.text_field :postcode, class: 'c-textField' %>
    </div>
  </div>

  <div class='p-formGroup'>
    <div class='p-formGroup__label'>
      <%= f.label :street_address %>
    </div>
    <div class='p-formGroup__input p-formGroup__input--full'>
      <%= f.text_field :street_address, class: 'c-textField' %>
    </div>
  </div>

  <div class='p-formGroup'>
    <div class='p-formGroup__label'>
      <%= f.label :tel %>
    </div>
    <div class='p-formGroup__input'>
      <%= f.telephone_field :tel, class: 'c-textField' %>
    </div>
  </div>

  <div class='p-formGroup p-formGroup--center'>
    <div class='p-formGroup__submit'>
      <%= f.submit '編集内容を保存する', class: 'c-button c-button--secondary' %>

      <%= link_to '退会する', public_mypage_cancel_path, class: 'c-button c-button--negative u-margin__left--100' %>
    </div>
  </div>
<% end %>
