<h2 class='p-title'>マイページ</h2>

<ul class='p-headnavi u-margin__bottom--20'>
  <li class='p-headnavi__item u-width--100'>登録情報</li>
  <li class='p-headnavi__item c-button c-button--secondary'>
    <%= link_to '編集する', public_mypage_edit_path %>
  </li>
  <li class='p-headnavi__item c-button c-button--secondary'>
    <%= link_to 'パスワードを変更する', public_mypage_path %>
  </li>
  <li class='p-headnavi__item c-button c-button--secondary'>
    <%= link_to '退会する', public_mypage_cancel_path %>
  </li>
</ul>

<div class='u-margin__right--400'>
  <table class='c-table c-table--cell'>
    <tbody>
      <tr>
        <th><%= @end_user.class.human_attribute_name :name %></th>
        <td><%= @end_user.full_name %></td>
      </tr>
      <tr>
        <th><%= @end_user.class.human_attribute_name :name_kana %></th>
        <td><%= @end_user.full_name_kana %></td>
      </tr>
      <tr>
        <th><%= @end_user.class.human_attribute_name :postcode %></th>
        <td><%= @end_user.postcode %></td>
      </tr>
      <tr>
        <th><%= @end_user.class.human_attribute_name :street_address %></th>
        <td><%= @end_user.street_address %></td>
      </tr>
      <tr>
        <th><%= @end_user.class.human_attribute_name :tel %></th>
        <td><%= @end_user.tel %></td>
      </tr>
      <tr>
        <th><%= @end_user.class.human_attribute_name :email %></th>
        <td><%= @end_user.email %></td>
      </tr>
    </tbody>
  </table>
</div>

<ul class='p-headnavi u-margin__top--20 u-margin__bottom--20'>
  <li class='p-headnavi__item u-width--100'>配送先</li>
  <li class='p-headnavi__item c-button c-button--secondary'>
    <%= link_to '一覧を見る', public_mypage_path %>
  </li>
</ul>

<ul class='p-headnavi u-margin__bottom--20'>
  <li class='p-headnavi__item u-width--100'>注文履歴</li>
  <li class='p-headnavi__item c-button c-button--secondary'>
    <%= link_to '一覧を見る', public_mypage_path %>
  </li>
</ul>
