<div class='p-genreSearch'>
  <div class='p-genreSearch__title'>ジャンル検索</div>
  <% genres.each do |g| %>
    <div class='p-genreSearch__item'>
      <%= link_to g.name, public_items_path(genre_id: g.id)  %>
    </div>
  <% end %>
</div>
