<%- if controller_name != 'sessions' %>
  <div class='p-title'>すでに登録済の方</div>
  <div>
    <%= link_to "こちら", new_end_user_session_path, class: 'c-link' %>からログインしてください
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class='p-title'>登録がお済みでない方</div>
  <div>
    <%= link_to "こちら", new_end_user_registration_path, class: 'c-link' %>から新規登録を行ってください。
  </div>
<% end %>
