<h2>商品一覧画面</h2>
<div class='u-text__align--right'>
  <%= link_to '＋', new_admin_item_path, class: 'c-circleButton' %>
</div>
<div class='u-margin__top--20 u-padding__width'>
  <table class='c-table c-table--line'>
    <thead>
    <tr>
      <th><%= Item.human_attribute_name :id %></th>
      <th><%= Item.human_attribute_name :name %></th>
      <th><%= Item.human_attribute_name :tax_excluded_price %></th>
      <th><%= Item.human_attribute_name :genre_name %></th>
      <th><%= Item.human_attribute_name :is_active %></th>
    </tr>
    </thead>
    <tbody>
    <% @items.each do |i| %>
      <tr>
        <td><%= i.id %></td>
        <td><%= i.name %></td>
        <td><%= i.tax_excluded_price %></td>
        <td><%= i.genre_name %></td>
        <td><%= i.is_active ? '販売中' : '販売停止中' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
