<h2>商品 新規登録画面</h2>


<%= form_with model: [:admin, @item], local: true do |f| %>
  <div class='p-form p-form--columns'>
    <div class='p-form__column'>
      <div class='p-formGroup' >
        <%= f.file_field :image %>
      </div>
    </div>

    <div class='p-form__column'>
      <div class='p-formGroup' >
        <div class='p-formGroup__label' >
          <%= f.label :name %>
        </div>
        <div class='p-formGroup__input' >
          <%= f.text_field :name %>
        </div>
      </div>

      <div class='p-formGroup' >
        <div class='p-formGroup__label' >
          <%= f.label :description %>
        </div>
        <div class='p-formGroup__input' >
          <%= f.text_area :description %>
        </div>
      </div>

      <div class='p-formGroup' >
        <div class='p-formGroup__label' >
          <%= f.label :genre_id %>
        </div>
        <div class='p-formGroup__input' >
          <%= f.select :genre_id, Genre.pluck(:name, :id)  %>
        </div>
      </div>

      <div class='p-formGroup' >
        <div class='p-formGroup__label' >
          <%= f.label :tax_excluded_price %>
        </div>
        <div class='p-formGroup__input' >
          <%= f.text_field :tax_excluded_price %>
        </div>
      </div>

      <div class='p-formGroup' >
        <div class='p-formGroup__label' >
          <%= f.label :is_active %>
        </div>
        <div class='p-formGroup__input' >
          <%= f.radio_button :is_active, true %>
          <%= f.label :is_active_true %>
          <%= f.radio_button :is_active, false %>
          <%= f.label :is_active_false %>
        </div>
      </div>
    </div>
  </div>

  <%= f.submit %>
<% end %>
