<%= form_with(model: resource, as: resource_name, url: admin_session_path, local: true) do |f| %>

  <%= render 'public/shared/error_messages', resource: resource %>

  <div class='p-formGroup  p-formGroup--center'>
    <div class='p-formGroup__label'>
      <%= f.label :email %>
    </div>
    <div class='p-formGroup__input'>
      <%= f.email_field :email, class: 'c-textField', autocomplete: 'email' %>
    </div>
  </div>

  <div class='p-formGroup  p-formGroup--center'>
    <div class='p-formGroup__label'>
      <%= f.label :password %>
    </div>
    <div class='p-formGroup__input'>
      <%= f.password_field :password, class: 'c-textField', autocomplete: 'new-password' %>
    </div>
  </div>

  <div class='p-formGroup p-formGroup--center'>
    <div class='p-formGroup__submit'>
      <%= f.submit 'ログイン', class: 'c-button c-button--secondary' %>
    </div>
  </div>
<% end %>
