.p-formGroup {
  margin-bottom: 10px;

  &--center {
    text-align: center;
  }

  &__label {
    display: inline-block;
    width: 20%;
  }

  &__subLabel {
    display: inline-block;
  }

  &__input {
    display: inline-block;
    width: 30%;
    &--full {
      width: 60%;
    }
  }

  &__submit {
    display: inline-block;
  }
}

