.p-genreSearch {
  border: 1px solid black;
  width: 200px;

  &__title {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    text-align: center;
    font-weight: bold;
  }

  &__item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}
