.p-itemDetail {
  display: flex;

  &__eyecatch {
    padding-right: 30px;
  }

  &__title {
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 20px;
  }

  &__desc {
    min-height: 100px;
  }

  &__price {
    font-weight: bold;

    span {
      font-size: 0.7em;
      font-weight: normal;
    }
  }

}