.u-margin {
  &__top {
    &--20 {
      margin-top: 20px;
    }
  }
  &__bottom {
    &--20 {
      margin-bottom: 20px;
    }
  }
  &__right {
    &--40 {
      margin-right: 40px;
    }
    &--400 {
      margin-right: 400px;
    }
  }
  &__left {
    &--40 {
      margin-left: 40px;
    }
    &--100 {
      margin-left: 100px;
    }
  }
}