<h2>会員一覧画面</h2>
<div class='u-margin__top--20 u-padding__width'>
  <table class='c-table c-table--line'>
    <thead>
    <tr>
      <th><%= Order.human_attribute_name :created_at %></th>
      <th><%= Order.human_attribute_name :end_user_full_name %></th>
      <th><%= Order.human_attribute_name :quantity %></th>
      <th><%= Order.human_attribute_name :status %></th>
    </tr>
    </thead>
    <tbody>
    <% @orders.each do |o| %>
      <tr>
        <td><%= link_to o.created_at.to_s(:datetime_c), admin_order_path(o), class: 'c-link' %></td>
        <td><%= o.end_user_full_name %></td>
        <td><%= o.quantity %></td>
        <td><%= o.status_i18n %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
