<h2 class='p-title'>注文詳細画面</h2>

<div>
  <%= Order.human_attribute_name :end_user_full_name %>
  <%= @order.end_user_full_name %>
</div>
<div>
  <%= Order.human_attribute_name :address_info %>
  <%= @order.address_info %>
</div>
<div>
  <%= Order.human_attribute_name :payment_method %>
  <%= @order.payment_method_i18n %>
</div>
<div>
  <%= form_with model: [:admin, @order], local: true do |f| %>
    <%= f.label :status %>
    <%= f.select :status, Order.statuses_i18n.invert %>
    <%= f.submit '更新', disabled: @order.confirmed? || @order.cooked?  %>
  <% end %>
</div>

<div class='u-margin__top--20 u-padding__width'>
  <table class='c-table c-table--line'>
    <thead>
    <tr>
      <th><%= OrderDetail.human_attribute_name :item_name %></th>
      <th><%= OrderDetail.human_attribute_name :tax_included_price %></th>
      <th><%= OrderDetail.human_attribute_name :quantity %></th>
      <th><%= OrderDetail.human_attribute_name :subtotal_amount %></th>
      <th><%= OrderDetail.human_attribute_name :cook_status %></th>
    </tr>
    </thead>
    <tbody>
    <% @order.details.each do |od| %>
      <tr>
        <td><%= od.item_name %></td>
        <td><%= price od.tax_included_price %></td>
        <td><%= od.quantity %></td>
        <td><%= price od.subtotal_amount %></td>
        <td>
          <%= form_with model: [:admin, od], local: true do |f| %>
            <%= f.select :cook_status, OrderDetail.cook_statuses_i18n.invert %>
            <%= f.submit '更新', disabled: @order.unpaid?  %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div>
  <%= Order.human_attribute_name :end_user_full_name %>
  <%= price @order.items_total_amount, suffix: true %>
</div>
<div>
  <%= Order.human_attribute_name :shipping_fee %>
  <%= price @order.shipping_fee, suffix: true %>
</div>
<div>
  <%= Order.human_attribute_name :charge %>
  <%= price @order.charge, suffix: true %>
</div>
