<h2 class='p-title'>ショッピングカート一覧</h2>

<div class='u-text__align--right u-margin__bottom--20'>
  <%= link_to 'カートを空にする', destroy_all_public_cart_items_path, method: :delete, class: 'c-button c-button--negative' %>
</div>
<table class='c-table c-table--cell'>
  <thead>
  <tr>
    <th><%= CartItem.human_attribute_name :name %></th>
    <th><%= CartItem.human_attribute_name :tax_included_price %></th>
    <th><%= CartItem.human_attribute_name :quantity %></th>
    <th><%= CartItem.human_attribute_name :subtotal %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @cart_items.each do |ci| %>
    <tr>
      <td>
        <%= image_tag ci.image, size: '100x50' %>
        <%= ci.name %>
      </td>
      <td><%= price ci.tax_excluded_price, tax: true %></td>

      <td>
        <%= form_with model: [:public, ci], local: true do |f| %>
          <%= f.text_field :quantity %>
          <%= f.submit '変更', class: 'c-button c-button--secondary' %>
        <% end %>
      </td>

      <td><%= price ci.subtotal_amount, tax: true %></td>
      <td><%= link_to '削除する', public_cart_item_path(ci), method: :delete, class: 'c-button c-button--negative' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class='u-margin__bottom--20 u-margin__top--20'>
  <table class='c-table c-table--cell u-margin__bottom--20'>
    <tbody>
      <tr>
        <th>合計金額</th>
        <td><%= price @cart_items.map(&:subtotal_amount).sum, tax: true %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to '買い物を続ける', public_items_path, class: 'c-button c-button--secondary' %>
</div>

<div class='u-text__align--center'>
  <%= link_to '情報入力に進む', new_public_order_path, class: 'c-button c-button--primary' %>
</div>
