<h2 class='p-title'>新規会員登録</h2>

<%= form_with model: @end_user, url: end_user_registration_path, local: true do |f| %>

  <%= render 'public/shared/error_messages', resource: resource %>

  <div class='p-formGroup'>
    <div class='p-formGroup__label'>
      <%= f.label :name %>
    </div>
    <%#= f.label :last_name, class: 'p-formGroup__subLabel' %>
    <div class='p-formGroup__input'>
      <%= f.text_field :last_name, class: 'c-textField' %>
    </div>
    <%#= f.label :first_name, class: 'p-formGroup__subLabel' %>
    <div class='p-formGroup__input'>
      <%= f.text_field :first_name, class: 'c-textField' %>
    </div>
  </div>

  <div class='p-formGroup'>
    <div class='p-formGroup__label'>
      <%= f.label :name_kana%>
    </div>
    <%#= f.label :last_name_kana, class: 'p-formGroup__subLabel' %>
    <div class='p-formGroup__input'>
      <%= f.text_field :last_name_kana, class: 'c-textField'  %>
    </div>
    <%#= f.label :first_name_kana, class: 'p-formGroup__subLabel' %>
    <div class='p-formGroup__input'>
      <%= f.text_field :first_name_kana, class: 'c-textField' %>
    </div>
  </div>

  <div class='p-formGroup'>
    <div class='p-formGroup__label'>
      <%= f.label :email %>
    </div>
    <div class='p-formGroup__input'>
      <%= f.email_field :email, class: 'c-textField', autocomplete: 'email' %>
    </div>
  </div>

  <div class='p-formGroup'>
    <div class='p-formGroup__label'>
      <%= f.label :postcode %>
    </div>
    <div class='p-formGroup__input'>
      <%= f.text_field :postcode, class: 'c-textField' %>
    </div>
  </div>

  <div class='p-formGroup'>
    <div class='p-formGroup__label'>
      <%= f.label :street_address %>
    </div>
    <div class='p-formGroup__input p-formGroup__input--full'>
      <%= f.text_field :street_address, class: 'c-textField' %>
    </div>
  </div>

  <div class='p-formGroup'>
    <div class='p-formGroup__label'>
      <%= f.label :tel %>
    </div>
    <div class='p-formGroup__input'>
      <%= f.telephone_field :tel, class: 'c-textField' %>
    </div>
  </div>

  <div class='p-formGroup'>
    <div class='p-formGroup__label'>
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <span>(<%= @minimum_password_length %>文字以上)</span>
      <% end %>
    </div>
    <div class='p-formGroup__input'>
      <%= f.password_field :password, class: 'c-textField', autocomplete: 'new-password' %>
    </div>
  </div>

  <div class='p-formGroup'>
    <div class='p-formGroup__label'>
      <%= f.label :password_confirmation %>
    </div>
    <div class='p-formGroup__input'>
      <%= f.password_field :password_confirmation, class: 'c-textField', autocomplete: 'new-password' %>
    </div>
  </div>

  <div class='p-formGroup p-formGroup--center'>
    <div class='p-formGroup__submit'>
      <%= f.submit '新規登録', class: 'c-button c-button--primary' %>
    </div>
  </div>
<% end %>

<%= render 'public/shared/links' %>
