<h2>会員一覧画面</h2>
<div class='u-margin__top--20 u-padding__width'>
  <table class='c-table c-table--line'>
    <thead>
      <tr>
        <th><%= EndUser.human_attribute_name :id %></th>
        <th><%= EndUser.human_attribute_name :name %></th>
        <th><%= EndUser.human_attribute_name :email %></th>
        <th><%= EndUser.human_attribute_name :status %></th>
      </tr>
    </thead>
    <tbody>
      <% @end_users.each do |eu| %>
        <tr>
          <td><%= eu.id %></td>
          <td><%= eu.full_name %></td>
          <td><%= eu.email %></td>
          <td><%= eu.deleted_at.nil? ? '有効' : '退会済' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
