@mixin main {
  padding-left: 3em;
  padding-right: 3em;
  border: none;
  font-weight: bold;
  color: #F7F7F7;
  white-space: nowrap;
}

.c-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.7em;

  &--primary {
    @include main;
    background: forestgreen;
  }

  &--secondary {
    @include main;
    background: deepskyblue;
  }

  &--negative {
    @include main;
    background: red;
  }
}
