.c-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  th, td {
    font-weight: normal;
    padding: 0.5em;
  }

  &--cell {
    th, td {
      border: solid 1px black;
    }
  }

  &--line {
    th {
      border-top: solid 1px black;
      border-bottom: solid 1px black;
    }
    td {
      border-bottom: solid 1px black;
    }
  }

  th {
    font-weight: bold;
    background: lightgray;
  }

}
