<h2 class='p-title'>注文情報確認</h2>
<div class='p-flexColumn p-flexColumn--around u-margin__bottom--20'>
  <table class='c-table c-table--cell u-margin__right--40'>
    <thead>
    <tr>
      <th><%= CartItem.human_attribute_name :name %></th>
      <th><%= CartItem.human_attribute_name :tax_included_price %></th>
      <th><%= CartItem.human_attribute_name :quantity %></th>
      <th><%= CartItem.human_attribute_name :subtotal %></th>
    </tr>
    </thead>
    <tbody>
    <% @cart_items.each do |ci| %>
      <tr>
        <td>
          <%= image_tag ci.image, size: '100x50' %>
          <%= ci.name %>
        </td>
        <td><%= price ci.tax_excluded_price, tax: true %></td>
        <td><%= ci.quantity %></td>

        <td><%= price ci.subtotal_amount, tax: true %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <table class='c-table c-table--cell'>
    <tbody>
      <tr>
        <th>送料</th>
        <td><%= price @order.shipping_fee %></td>
      </tr>
      <tr>
        <th>商品合計</th>
        <td><%= price @cart_items.map(&:subtotal_amount).sum, tax: true %></td>
      </tr>
      <tr>
        <th>請求金額</th>
        <td><%= price @cart_items.map(&:subtotal_amount).sum.add_tax + @order.shipping_fee %></td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <%= @order.class.human_attribute_name :payment_method %>
  <%= @order.payment_method_i18n %>
</div>
<div>
  <%= @order.class.human_attribute_name :address_info %>
  <%= @order.address_info %>
</div>
<%= form_with model: [:public, @order], local: true do |f| %>
  <%= f.hidden_field :end_user_id, value: current_end_user.id %>
  <%= f.hidden_field :payment_method, value: @order.payment_method %>
  <%= f.hidden_field :shipping_addressee, value: @order.shipping_addressee %>
  <%= f.hidden_field :shipping_postcode, value: @order.shipping_postcode %>
  <%= f.hidden_field :shipping_address, value: @order.shipping_address %>
  <div class='u-text__align--center'>
    <%= f.submit '購入を確定する', class: 'c-button c-button--primary' %>
  </div>
<% end %>
