<h2 class='p-title'>注文情報入力</h2>

<%= form_with model: @order, scope: :order_confirm, url: confirm_public_orders_path, local: true, method: :get do |f| %>
  <%= render 'public/shared/error_messages', resource: @order %>

  <%= f.hidden_field :end_user_id, value: current_end_user.id %>
  <%= f.hidden_field :default_address_id, value: current_end_user.default_address.id %>
  <div class='u-margin__bottom--20 u-margin__top--20'>
    <%= f.label :payment_method %>
    <div class='u-margin__left--40 u-margin__bottom--20'>
      <%= f.radio_button :payment_method, :credit %>
      <%= f.label :payment_method_credit %>
    </div>
    <div class='u-margin__left--40 u-margin__bottom--20'>
      <%= f.radio_button :payment_method, :bank %>
      <%= f.label :payment_method_bank %>
    </div>
  </div>

  <div>
    <%= f.label :address %>
    <div class='u-margin__left--40 u-margin__bottom--20'>
      <div class='u-margin__bottom--20'>
        <%= f.radio_button :address_type, :default %>
        <%= f.label :address_type_default %>
      </div>

      <div class='u-margin__left--40 u-margin__bottom--20'>
        <%= current_end_user.default_address.address_info %>
      </div>
      <div class='u-margin__bottom--20'>
        <%= f.radio_button :address_type, :registered %>
        <%= f.label :address_type_registered %>
      </div>
      <div class='u-margin__left--40 u-margin__bottom--20'>
        <%= f.collection_select :registered_address_id, current_end_user.other_addresses, :id, :address_info %>
      </div>
      <div class='u-margin__bottom--20'>
        <%= f.radio_button :address_type, :new %>
        <%= f.label :address_type_new %>
      </div>
      <div class='u-margin__left--40'>
        <div class='p-formGroup'>
          <div class='p-formGroup__label'>
            <%= f.label :shipping_postcode %>
          </div>
          <div class='p-formGroup__input'>
            <%= f.text_field :shipping_postcode %>
          </div>
        </div>

        <div class='p-formGroup'>
          <div class='p-formGroup__label'>
            <%= f.label :shipping_address %>
          </div>
          <div class='p-formGroup__input p-formGroup__input--full'>
            <%= f.text_field :shipping_address %>
          </div>
        </div>

        <div class='p-formGroup'>
          <div class='p-formGroup__label'>
            <%= f.label :shipping_addressee %>
          </div>
          <div class='p-formGroup__input'>
            <%= f.text_field :shipping_addressee %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='u-text__align--center'>
    <%= f.submit '確認画面に進む', class: 'c-button c-button--secondary' %>
  </div>

<% end %>
