<h2 class='p-title'>会員の方はこちらからログイン</h2>
<%= form_with(model: resource, as: resource_name, url: new_end_user_session_path, local: true) do |f| %>

  <%= render 'public/shared/error_messages', resource: resource %>

  <div class='p-formGroup  p-formGroup--center'>
    <div class='p-formGroup__label'>
      <%= f.label :email %>
    </div>
    <div class='p-formGroup__input'>
      <%= f.email_field :email, class: 'c-textField', autocomplete: 'email' %>
    </div>
  </div>

  <div class='p-formGroup  p-formGroup--center'>
    <div class='p-formGroup__label'>
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <span>(<%= @minimum_password_length %>文字以上)</span>
      <% end %>
    </div>
    <div class='p-formGroup__input'>
      <%= f.password_field :password, class: 'c-textField', autocomplete: 'new-password' %>
    </div>
  </div>
  <div class='u-text__align--right'>
    <%= link_to '=> パスワードを忘れた方はこちら', nil, class: 'c-link' %>
  </div>

  <div class='p-formGroup p-formGroup--center'>
    <div class='p-formGroup__submit'>
      <%= f.submit 'ログイン', class: 'c-button c-button--secondary' %>
    </div>
  </div>
<% end %>

<%= render 'public/shared/links' %>
