<div class='l-content'>
  <div class='l-content__search'>
    <%= render 'public/shared/genre_search', genres: @genres %>
  </div>

  <div class='l-content_body'>
    <h2><%= @genre.blank? ? '商品一覧' : "#{@genre.name}一覧" %> <spna><%= "全#{@items.count}件" %></spna></h2>

    <div class='p-cards'>
      <% @items.each do |i| %>
        <div class='p-card'>
          <%= link_to public_item_path(i) do %>
            <div class='p-card__img'>
              <%= image_tag i.image, size: '200x100' %>
            </div>
            <div class='p-card__title'><%= i.name %></div>
            <div class='p-card__price'><%= price i.tax_excluded_price, tax: false, prefix: true %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
