<div class='l-content'>
  <div class='l-content__search'>
    <%= render 'public/shared/genre_search', genres: @genres %>
  </div>

  <div class='l-content_body'>
    <div class='p-itemDetail'>
      <div class='p-itemDetail__eyecatch'>
        <%= image_tag @item.image, size: '400x200' %>
      </div>
      <div class='p-itemDetail__body'>
        <div class='p-itemDetail__title'>
          <%= @item.name %>
        </div>
        <div class='p-itemDetail__desc'>
          <%= @item.description %>
        </div>
        <div class='p-itemDetail__price'>
          <%= price @item.tax_excluded_price, tax: true, prefix: true %>
          <span>(税込み)</span>
        </div>
      </div>
    </div>
    <div class='u-text__align--right'>
      <%= form_with scope: :cart_item, url: public_cart_items_path, local: true do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.select :quantity, [*1..10] %>
        <%= f.submit 'カートに入れる', class: 'c-button c-button--secondary' %>
      <% end %>
    </div>
  </div>
</div>
