<header class='l-header'>
  <span class='l-header__logo'>LOGO</span>
  <nav class='l-header__contents'>
    <% if admin_signed_in? %>
      <ul class='p-headnavi'>
        <li class='p-headnavi__item'>
          <%= link_to '商品一覧', admin_items_path %>
        </li>
        <li class='p-headnavi__item'>
          <%= link_to '商品登録', new_admin_item_path %>
        </li>
        <li class='p-headnavi__item'>
          <%= link_to '会員一覧', admin_end_users_path %>
        </li>
        <li class='p-headnavi__item'>
          <%= link_to '注文履歴一覧', admin_orders_path %>
        </li>
        <li class='p-headnavi__item p-headnavi__item--'>
          <%= link_to 'ジャンル管理', admin_items_path %>
        </li>
        <li class='p-headnavi__item p-headnavi__item--'>
          <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
        </li>
      </ul>
      <div class='p-searchBox p-searchBox--right'>
        <%= form_with url: search_admin_items_path, local: true, method: :get do |f| %>
          <%= f.text_field :query, placeholder: 'Search', id: 'item_autocomplete' %>
        <% end %>
      </div>
    <% end %>
  </nav>
</header>
