<header class='l-header'>
  <span  class='l-header__logo'>LOGO</span>
  <nav class='l-header__contents'>
    <ul class='p-headnavi'>
      <% if end_user_signed_in? %>
        <li class='p-headnavi__item'>
          <%= "ようこそ、#{current_end_user.full_name}さん!" %>
        </li>
        <li class='p-headnavi__item c-button'>
          <%= link_to 'マイページ', public_mypage_path %>
        </li>
        <li class='p-headnavi__item c-button'>
          <%= link_to '商品一覧', public_items_path %>
        </li>
        <li class='p-headnavi__item c-button'>
          <%= link_to 'カート', public_cart_items_path %>
        </li>
        <li class='p-headnavi__item c-button'>
          <%= link_to 'ログアウト', destroy_end_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class='p-headnavi__item c-button'>
          <%=link_to '商品一覧', public_items_path %>
        </li>
        <li class='p-headnavi__item c-button'>
          <%=link_to '新規登録', new_end_user_registration_path %>
        </li>
        <li class='p-headnavi__item c-button'>
          <%=link_to 'ログイン', new_end_user_session_path %>
        </li>
      <% end %>
      <div class='p-searchBox p-searchBox--right'>
        <%= form_with url: search_public_items_path, local: true, method: :get do |f| %>
          <%= f.text_field :query, placeholder: 'Search', id: 'item_autocomplete' %>
        <% end %>
      </div>
    </ul>
  </nav>
</header>
